<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    body {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .create_form input {
      width: 300px;
      padding: 10px;
      border-bottom: 2px solid;
      outline: none;
      margin-bottom: 2rem;
    }

    .create_form button {
      padding: 10px;
      background-color: black;
      color: white;
      cursor: pointer;
    }
  </style>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
</head>

<body>
  <h1>Login</h1>
  <form action="/user/login" method="post" class="create_form">
    <div>
      <label>Email</label>
      <input type="text" required name="email" />
    </div>
    <div>
      <label>Password</label>
      <input type="text" required name="password" />
    </div>
    <button type="submit">Login</button>
  </form>
</body>

</html>